@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
}

input:disabled {
    @apply cursor-not-allowed;
}

.ck-powered-by {
    @apply hidden;
}

/* ----------------------------------------------------------------------------------------------------
    Table
---------------------------------------------------------------------------------------------------- */

.table-responsive {
   @apply w-full overflow-scroll;
}

table {
    @apply w-full;
}

table th {
    @apply bg-tertiary text-white font-normal border-b border-tertiary-50 px-10 py-5 text-left text-sm;
}

table th:first-child {
    @apply rounded-tl-lg;
}

table th:last-child {
    @apply rounded-tr-lg;
}

table tbody tr {
    @apply border-b border-tertiary-50;
    vertical-align: middle;
}

table tbody tr:hover {
    @apply bg-gray-50;
}

table tbody tr:last-child {
    @apply border-0;
}

table td {
    @apply text-sm font-normal px-10 py-3 text-left;
}


/* ----------------------------------------------------------------------------------------------------
    @vueform/multiselect
---------------------------------------------------------------------------------------------------- */
.multiselect {
    border: 1px solid #000000 !important;
}

.multiselect-dropdown {
    border: 1px solid #000000 !important;
}

.multiselect-tag {
    background: #000000 !important;
}

.multiselect.is-active {
    box-shadow: none !important;
    border: 1px solid #000000 !important;
}

.multiselect-option.is-selected,
.multiselect-option.is-selected.is-pointed {
    background: #000000 !important;
}

/* ----------------------------------------------------------------------------------------------------
    Editor
---------------------------------------------------------------------------------------------------- */
.ck-editor__editable_inline {
    min-height: 200px;
}

.ck-editor__editable li {
    margin-left: 15px;
}

.ck-editor__editable ul li {
    list-style: disc;
}

.ck-editor__editable ul li ul li {
    list-style: circle;
}

.ck-editor__editable ol li {
    list-style: decimal;
}

.ck-editor__editable ol li ol li {
    list-style: lower-alpha;
}

/* ----------------------------------------------------------------------------------------------------
    Content
---------------------------------------------------------------------------------------------------- */

#content a {
    @apply underline text-tertiary-700 hover:text-tertiary-500;
}

#content h1 {
    @apply text-3xl font-bold;
}

#content h2 {
    @apply text-2xl font-bold;
}

#content h3 {
    @apply text-xl font-bold;
}

#content h4 {
    @apply text-lg font-bold;
}

#content h5 {
    @apply text-base font-bold;
}

#content h6 {
    @apply text-sm font-bold;
}

#content strong {
    @apply font-semibold;
}

#content h1, #content h2, 
#content h3, #content h4, 
#content h5, #content h6, 
#content div, #content p, 
#content ul, #content ol, 
#content blockquote {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#content ol li {
    list-style: auto;
    list-style-position: inside;
}

#content ol li ol {
    margin: 0;
    padding-left: 12px;
}

#content ol li ol li {
    list-style: lower-alpha;
    list-style-position: inside;
}

#content ul li {
    list-style: disc;
    list-style-position: inside;
}

#content ul li ul {
    margin: 0;
    padding-left: 12px;
}

#content ul li ul li {
    list-style: circle;
    list-style-position: inside;
}

#content blockquote {
    @apply ml-6 pl-4 border-l-2 border-gray-500;
}